<%= styled_flash %>

<form action='/add_bookmark' method='post'>
  <label for='url_field'>Add url</label>
  <input type='text' name='url_field'>
  <input type='submit' value='Submit bookmark'>
</form>
