<!-- <%= styled_flash %> -->

<form action='/delete_bookmark' method='post'>
  <label for='url_field'>Bookmark url</label>
  <input type='text' name='url_field'>
  <input type='submit' value='Submit'>
</form>
