
<p>
  <a href='/add_bookmark'>Add bookmark</a>
  <a href='/delete_bookmark'>Delete bookmark</a>
  <a href='/update_bookmark'>Update bookmark</a>
</p>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href=<%= bookmark.url %> ><%=bookmark.title%></a></li>
<% end %>
</ul>
