<%= flash[:new_error] %>

<form action='/update_bookmark' method='post'>
  <label for='old_url'>Old url</label>
  <input type='text' name='old_url_field'>
  <label for='new_url'>New url</label>
  <input type='text' name='new_url_field'>
  <label for='new_title'>New title</label>
  <input type='text' name='new_title_field'>
  <input type='submit' value='Submit'>
</form>
